<%= form_for @recommendation, remote: true do |f| %>
	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, class: "form-control" %>
	</div>
	<%= f.submit "Submit Recommendation", class: "btn btn-primary" %>
	<%= f.submit "Cancel", id: "cancel_recommendation" %>
<% end %>
