<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="flash">
		<%= flash[:notice] %>
		<%= flash[:alert] %>
</div>
	<!-- <nav class="navbar navbar-default">
		<ul class="nav navbar-nav">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Blog", posts_path %></li>
			<% if user_signed_in? %>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			<% end %>
		</ul>
	</nav> -->
	<div class="container row">
    <aside class="profile col-md-4">
      <h1>Kevin Chen</h1>
      <%= image_tag 'profile.jpg', class: 'picture' %>
      <ul class="contact">
        <li><%= link_to 'Github', 'https://github.com/KaijuKevin' %></li>
        <li><%= link_to 'LinkedIn', 'https://www.linkedin.com/in/kevinchenpdx' %></li>
        <li><%= mail_to 'kevc.dev@gmail.com', 'Email' %> </li>
      </ul>
    </aside>
    <main class="col-md-8">
      <nav>
        <ul class="nav nav-pills">
          <li role="presentation"><%= link_to 'Resume', skills_path %></li>
          <li role="presentation"><%= link_to 'Projects', '#' %></li>
          <li role="presentation"><%= link_to 'Blog', posts_path %></li>
        </ul>
      </nav>
		  <%= yield %>
    </main>
	</div>
  <footer>

  </footer>
</body>
</html>
